*{
    margin: 0;
    font-family: monospace;
    background-color: #292929;
}

body{
    color: #FFF2AE;
}

header{
    margin: 20px 0;
    padding-bottom: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dotted #FFF2AE;
}

main{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.info{
    width: 750px;
    margin: 60px 0;
    text-align: center;
}

.info p{
    margin: 25px;
    font-size: 15px;
    color: #968D5D;
}


.record{
    width: 750px;
    margin: 50px 0;
    text-align: center;
}

.record p{
    font-size: 19px;

}

#game{
    position: relative;
    width: 750px;
    height: 140px;
    font-size: 20px;
    line-height: 35px;
    overflow: hidden;
    
}
.gameFocus{
    display: block;
    position: absolute;
    inset: 0;
    height: 0;
    font-size: 23px;
    text-align: center;
    margin-top: 54px;
}

.textContainer{
    filter: blur(3px);   
}

#game:focus{
    outline: 0;
}

#game:focus .textContainer{
    filter: blur(0);
}

#game:focus .gameFocus{
    display: none;
}

.word{
    display: inline-block;
    margin: 0 5px;
    color: #5F5D4E;
}


.letra.correct{
    color: #FFF2AE;
}

.letra.incorrect{
    color: #E77373;
}

